*{
    font-family: Helvetica, Verdana, Arial;
    box-sizing: border-box;
}

body {
    background-color: #f9fcff;
}

.sign-in,.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 30px;
    /* padding: 10px; */
    height: auto;
    width: auto;
}
.items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin: 0;
    /* margin: 0 50px;  */
    /* padding: 0 50px; */
    /* max-width: 1300px;   */
}

#price {
    margin-top: 30px;
    font-size: 11px;
    font-weight: bold;
}

@media screen and (min-width:900px){
    .items{
        grid-template-columns: repeat(3,1fr);
        max-width: 100%;
        margin: 0;
    }
}
@media screen and (min-width:1000px){
    .items{
        grid-template-columns: repeat(4,1fr);
        max-width: 100%;
        margin: 0;
    }
}
.single_item {
    cursor: pointer;
    background-color: #fff;
    aspect-ratio: 1.2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    font-size: 10px;
    cursor: pointer;
    margin: 0;
}


.single_item_title {
    height: 60px;
}
.single_item_title h1 {
    font-size: 12px;
}


.single_item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
.header__right{
    display: flex;
    align-items: center;
    gap:10px
}
.search__input{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);

}
/*media queries for the searchbar*/

@media screen and (max-width: 600px){
    .search__input{
        padding: 10px 10px;
    }
}
@media screen and (max-width: 400px){
    .search__input{
        padding: 10px 5px;
    }
}
.cart__image{
    cursor: pointer;
    margin-left: 5px;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-box {
    position: absolute;
    top: 100%; /* Position it just below the cart image */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 500px; /* Adjust width according to your design */
    z-index: 1000; /* Ensure it appears above other content */
}

.cart-box p {
    margin: 5px 0;
}


.logo{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #171558;
    /* color: #c45252; */
    text-decoration: none;

}
/* media queries for the logo*/

@media screen and (max-width: 600px){
    .logo{
        font-size: 15px;
    }
}
@media screen and (max-width: 400px){
    .logo{
        font-size: 10px;
    }
}
.signin_button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #c45252;
    border-color: #c45252 transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .itemcontainer {
    background-color:  #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 80vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    margin: 0 300px;
  }

  .iteminfo {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
  }

  .checkoutinfo {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
  }

  .cartbutton {
    background-color: white;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    margin: 50px 0 0 auto;
    cursor: pointer;
  }